<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>
<label for="tema" class="rem">Tema:</label>
<select id="tema" name="quiz[tema]">
  <option value="Humanidades" <%if (quiz.tema == "Humanidades") {%>selected<%} %>>Humanidades</option>
  <option value="Ocio" <% if (quiz.tema == "Ocio") {%>selected<%} %>>Ocio</option>
  <option value="Ciencia" <% if (quiz.tema == "Ciencia") {%>selected<%} %>>Ciencia</option>
  <option value="Tecnología" <% if (quiz.tema == "Tecnología") {%>selected<%} %>>Tecnología</option>
  <option value="Otro" <% if (quiz.tema == "Otro") {%>selected<%} %>>Otro</option>
</select>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
